---
import { getCollection } from 'astro:content';
import Layout from '../layout.astro';

const articles = await getCollection('article');
const sortedArticles = articles.sort((a, b) => {
  const dateA = new Date(a.data.date);
  const dateB = new Date(b.data.date);
  return dateB - dateA;
});
---

<Layout title="@simenandre">
  <main>
    <h1>👋 Hello there!</h1>
    <p>
      You&apos;ve found <a href="https://github.com/simenandre">
        @simenandre
      </a>&apos;s website.
    </p>
    <p>I enjoy making things and writing!</p>
    <p>Connect with me on <a href="https://linkedin.com/in/simenandre/">LinkedIn</a></p>

    <h2>Here are some of my latest words:</h2>
    <ul>
      {
        articles.map(article => (
          <li>
            <a href={`/articles/${article.slug}`}>{article.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      sans-serif;
    box-sizing: border-box;
    min-width: 0;
    font-weight: 400;
    line-height: 1.5;
  }

  a {
    color: #0070f3;
    text-decoration: none;
    font-weight: 500;
  }
</style>
